<div class="inner-box">
<div class="user-panel-sidebar">
<div class="collapse-box">
<h5 class="collapse-title no-border"> Manage <a href="#Manage" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
<div class="panel-collapse collapse in" id="Manage">
<ul class="acc-list">
<li><a href="../../../../admin/dashboard"><i class="icon-home"></i> Dashboard </a></li>

<li><a href="../../../../admin/categories"><i class="icon-tag"></i> Categories </a></li>

<li><a href="../../../../admin/places"><i class="icon-map"></i> Places </a></li>

<li><a href="../../../../admin/posts"><i class="icon-megaphone-1"></i> Posts </a></li>

<li><a href="../../../../admin/users"><i class="icon-users"></i> Users </a></li>

<!--
<li><a href="account-favourite-ads.html"><i class="icon-heart"></i>
Favourite ads <span class="badge">42</span> </a></li>
<li><a href="account-saved-search.html"><i class="icon-star-circled"></i>
Saved search <span class="badge">42</span> </a></li>
<li><a href="account-archived-ads.html"><i class="icon-folder-close"></i>
Archived ads <span class="badge">42</span></a></li>
<li><a href="account-pending-approval-ads.html"><i class="icon-hourglass"></i> Pending approval <span class="badge">42</span></a></li>
-->

</ul>
</div>
</div>
 
 
<div class="collapse-box">
<h5 class="collapse-title"> Account <a href="#Account" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
<div class="panel-collapse collapse in" id="Account">
<ul class="acc-list">
<li><a href="../../.././admin/account"><i class="icon-cog "></i> Profile </a></li>
</ul>
</div>
</div>
 
</div>
</div>